@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  text-transform: capitalize;
  color: white;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.switch-btn {
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  z-index: 2;
  color: rgb(156, 98, 210);
  font-size: 16px;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: white;
}
